:root {
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;

}

body {
    margin:0 auto;
    box-sizing: border-box;
}

/* Stili dell'header e delle parti interne  */

header {
    width: 100%;
    min-height: 600px;
    background-color: aliceblue;
}

nav {
    width: 80%;
    height: 50px;
    background-color: limegreen;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    margin-top: 25px;
    
}

#logo {
    width: 20%;
}
#link {
    width: 60%;
    text-align: center;
}

#login {
    width: 20%;
    text-align: right;
}
nav div {
    border: 2px dashed black;
    line-height: 50px;
    vertical-align: middle;
}


/* Stile dei bordi (condivisa tra tutti i box interni del doc) */
.prima-box, nav div, .box, .box-green {
    border: 2px dashed black;
}

.header-bottom {
    background-color: blue;
    display: flex;
    min-height: 500px;
    margin-top: 50px;
}

.prima-box {
    flex-basis:50%;
    background-color: pink;
    min-height: 350px;
    justify-content: center;
    margin: auto;
}

main {
    margin: auto;
}

/* regole di stile per le sezioni centrali central (contenitore) e box (items) ) */

.central {
    display:flex;
    width: 100%;
    margin: auto;
    align-items: center; 
    justify-content: center;
    min-height: 500px;
}

.white {
    background-color: white;
}

.grey {
    background-color: lightgrey;
}

.box {
    height: 350px; 
    margin: 0;

}

.little {
    flex-basis: 30%;
    background-color: pink;
}

.big {
    flex-basis: 50%;
    background-color: blueviolet;
}

/* Sezione tenersi-contatto */

.tenersi-contatto {
    display:flex;
    width: 100%;
    margin: auto;
    align-items: center; 
    justify-content: center;
    min-height: 800px;
}

.box-green {
    flex-basis: 80%;
    background-color: green;
    height: 600px;

}

